In [8]:
import pandas as pd

In [51]:
pd.__version__

'2.2.3'

In [15]:
df=pd.read_csv("data_old.csv")

In [16]:
df.shape

(9704, 11)

In [17]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [21]:
df["fuel_type"].nunique()

2

In [22]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [23]:
df["fuel_efficiency_mpg"].max()

np.float64(25.96722204888372)

In [28]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [30]:
df["horsepower"].median()

np.float64(149.0)

In [31]:
df["horsepower"].mode()

0    152.0
Name: horsepower, dtype: float64

In [33]:
df["horsepower"].fillna(152.0, inplace=True)

In [34]:
df["horsepower"].median()

np.float64(152.0)

In [36]:
df["origin"].value_counts()

origin
Europe    3254
Asia      3247
USA       3203
Name: count, dtype: int64

In [39]:
df2=df[df["origin"]=="Asia"][["vehicle_weight","model_year"]]

In [40]:
df2.shape

(3247, 2)

In [41]:
df2_head_7=df2.head(7)

In [43]:
X= df2_head_7.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [44]:
XTX = X.T @ X #matrix multiplication

In [47]:
import numpy as np
XTX_inv = np.linalg.inv(XTX)

In [48]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [49]:
w = XTX_inv @ X.T @ y

In [50]:
w_sum = w.sum()
print(w_sum)

0.5187709081074016